.navbar-default {
	overflow-x: hidden;
	margin-bottom: 0px;
	border-bottom: 3px solid $cafe;
    background-color: $cafe;
    color: $blanco;
    .navbar-nav{
    	padding-left: 30%;
		li{
			a{
				color: $blanco;
			}
			a:hover{
				color: $colora;
			}
		}
	}
}
.servicios{
	background-color: $fondo1;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;	
	div{
		img{
			border: 8px solid $colorcirculo;
			margin-top: -70px;
		}
		h5{
			font-weight: bold;
		}
		a{
			text-decoration: none;
			font-size: 12px;
			color: $cafe;
			background-color: $colorcirculo;
			padding: 2px;
		}
	}
}
.welcome{
	background-color: $fondo2;
	padding: 70px;
	h3{
		color: $colora;
	}
	p{
		font-size: 12px;
	}
	ul{
		li{
			font-size: 12px;
		}
	}
}
.about{
	background-color: $fondo3;
	padding: 50px;
	div{
		h4{
		color: $colorcirculo;
		font-weight: bold;
		}
		div{
			p{
			color: $colorcirculo;
			}
		}
	}
}
.footer{
	background-color: $fondo4;
	border-top: 3px solid $colorcirculo;
	padding: 50px;
	div{
		h4{
			color: $colorcirculo;
			padding-bottom: 20px;
		}
		div{
			img{
				background-color: $coloricono;
				border: 5px solid $coloriconoborde;
			}
		}
		.mail{
			padding-top: 10px;
			padding-bottom: 15px;
		}
		p{
			color: $colorcirculo;
			font-size: 12px;
			a{
				color: $colorlink;
			}
		}
		h5{
			color: $colorcirculo;
			font-weight: bold;
		}
	}
}

