.navbar-default {
    width: 100%;
    background-color: $cafe;
    color: $blanco;
    .navbar-nav{
    	margin-right: 20%;
		li{
			a{
				color: $blanco;
			}
		}
	}
}
.servicios{
	div{
		img{
			border: 8px solid $colorcirculo;
		}
	}
}
