$cafe: #2F1F1F;
$blanco: white;
$centro: center;
$fondo1: #E9E0B7;
$fondo2: #F4F4F4;
$fondo3: #4A3A3A;
$fondo4: #2F1F1F;
$colorcirculo: #DABF87;
$colora: #DCB380;
$coloricono: #BFB68D;
$coloriconoborde: #DE8660;
$colorlink: #6D1E21;
